@page "/aboutme"
@using BitbyBitBlog.components;

<h3>AboutMe</h3>

<img src="../Images/IMG_1834_Facetune_07-01-2022-18-36-01.jpg" width="300"  height="300">

<div class="intro">
    <p>
        Hello! My Name is Jonathan Morris. Welcome to the BitbyBit Blog. I hope this can be a resource for you to learn and keep up with me.
    </p>
    <p>
        Im an Ex-salesperson with a passion for technology. This along with a problem solving mind caused me to explore learning different programming languages and eventually enrolling into a coding bootcamp.
        A habitual learner I love to anything that may expand my mind and the challenge of becoming a software engineer. Follow along on my journey from zero to engineer with me. Thanks in advance 
    </p>
    <p>
        My strengths are that im a complete blank slate. Bringing traits from my previous career I bring over understanding and taking the best knowledge and best practices and molding them to my use to make me a better part of the team. Also the fact that im a former salesperson i bring the ability to effectively communicate with my peers in a way that i adapt in a situation. 
    </p>
    <p>
        I created this blog to keep a record of the things I have learned during my career and offer this knowledge to anyone who it might help. 
    </p>
    <p>
        For further information please refer to my resume. To view any code presented in my blogs or this site itself please visit my GitHub page. Enjoy!
    </p>
</div>


<SocialMedia></SocialMedia>