@page "/aboutme"
@using BitbyBitBlog.components;

<h3>AboutMe</h3>

<img src="../Images/Johnny Port.jpg" width="300"  height="300">

<div class="intro">
    <p>
        Hello! My Name is Jonathan "Johnny" Morris. Welcome to My Portfolio Site. I've created this site to show my skills, and projects and will be updating as my skills improve'.
    </p>
    <p>
        A little bit about me. I'm a career changer who got fed up with the status quo. Upon my years of experience in this thing called life, I've come to the conclusion that anything and everything is achievable if your willing to humble yourself and take the necessary steps to learn them. Life is a learning process and it turns out much better if you change to a learning mindset.
    </p>
    <p>
        What makes me a valuable asset to a team. This is a great question, One that cannot be answered in just one sentence.  I Bring Humility in knowing that there's always a lesson that I can take from my peers and projects. Also having been in leadership roles understanding that effective communictaion skills and asking for help along the way when needed is to the benefit of the entire team. Also bring adaptibility, In my previous role thinking on the fly was critical to my success, Understanding that in this career I believe will be critical to my success. 
    </p>
    <p>
        I created this blog to keep a record of the things I have learned during my career and offer this knowledge to anyone who it might help. 
    </p>
    <p>
        For further information please refer to my resume. To view any code presented in my blogs or this site itself please visit my GitHub page. Enjoy!
    </p>
</div>


<SocialMedia></SocialMedia>