@page "/blog"
@using BitbyBitBlog.Models
@using BitbyBitBlog.components;

<h3>Blog</h3>
<div class="blogPosts"> 
    
    @foreach(BlogPost preview in blogPostPreviews)
    {
     <Blogpostpreview Id="@preview.Id" 
     Title="@preview.Title"
     ImageFilePath="@preview.BlogPostPreview.ImageFilePath"
     Blogpostpreviewtext = "@preview.BlogPostPreview.BlogPostPreviewText">
    </Blogpostpreview>
    }


</div>


