<div class="previewContianer">
    
    <img src="@ImageFilePath" width="200" height="200" >
    <div class = "blogPreviewTextContainer" >
    <a href = "blog/@Id">@Title</a>
    <p>
        @Blogpostpreviewtext
    </p>
    </div>
</div>
    
