<div class="container">
    <a href="https://github.com/JohnnyMorrisportfolio" style="vertical-align:central;" target="_blank">
        <img src="../Images/GitHub-Mark/PNG/GitHub-Mark-64px.png" width="50" height="50">
    </a>
    <a href="https://twitter.com/johnnycodes23" target="_blank">
        <img src="../Images/twitter.png" width="50" height="50">
    </a>
    <a href="https://www.linkedin.com/in/jonathan-morris-333396142/" target="_blank">
        <img src="../Images/LinkedIn.png" width="60" height="50">
    </a>
</div>
